<div class="container">
    <div class="row">
        <div class="col s6">
            <h2>{{'nombre'}}</h2>
            <div class="col s12">
                <h4>{{'NombreProovedor'}}</h4>
            </div>
            <div class="col s12">
                <h6>Fecha de plantacion: {{'fechaPlantacion'}}</h6>
            </div>
            <div class="col s12">
                <h6>Fecha de Cosecha: {{'fechaCosecha'}}</h6>
            </div>
            <div class="col s12">
                <h6>Cantidad disponible: {{'cantidad'}} {{'medida'}}</h6>
            </div>
        </div>
        <div class="col l6 s12">
            <img class="responsive-img circle" src="../../assets/corn.png">
        </div>
    </div>

</div>