<mat-sidenav-container>
  <mat-sidenav #sidenav [fixedInViewport]="(isHandset$ | async)" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">

    <div [hidden]="!(isHandset$ | async)">
      <div *ngIf="(auth.user | async); then authenticated else guest"></div>
    </div>

    <mat-list>
      <h3 mat-subheader>
        Categorias
      </h3>
      <mat-list-item *ngFor="let category of categories">
        <button class="nav__button" mat-button disableRipple>{{category.name}}</button>
      </mat-list-item>
    </mat-list>

  </mat-sidenav>

  <ng-template #authenticated>
    <button mat-button [matMenuTriggerFor]="menu" class="mobile-login__button">
      <div class="mobile-login">
        <img src="{{(auth.user | async)?.photoURL}}" alt="Profile Photo" class="mobile-login__photo">
        <p>{{(auth.user | async)?.displayName}}</p>
      </div>
    </button>

    <mat-menu #menu="matMenu" [overlapTrigger]="false">
      <button mat-menu-item>
        <app-profile uid="{{(auth.user | async)?.uid}}"></app-profile>
      </button>
      <button mat-menu-item (click)="auth.signOut()">Cerrar Sesión</button>
    </mat-menu>
  </ng-template>

  <ng-template #guest>
    <button mat-button class="side-nav__login" routerLink="/login" (click)="sidenav.toggle()">Iniciar sesion</button>
  </ng-template>

  <mat-sidenav-content>
    <main [className]="(isHandset$ | async) ? 'mobile' : 'desktop'">
      <ng-content></ng-content>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>