<mat-sidenav-container>
  <mat-sidenav #sidenav fixedInViewport="false" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-list>
      <h3 mat-subheader>
        Categorias
      </h3>
      <mat-list-item *ngFor="let category of categories">
        <button class="nav__button" mat-button disableRipple>{{category.name}}</button>
      </mat-list-item>
    </mat-list>

    <div>
      <!-- Login for Mobile -->
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>