.fill-remaining-space {
  flex: 1 1 auto;
}

<<<<<<< HEAD
.toolbar--padding {
  padding: 16px;
}

.toolbar--padding-left {
  padding-left: 16px;
}

.toolbar__profile-photo--mask {
  height: auto;
  width: auto;
}

.toolbar__profile-photo--img {
  max-width: 56px;
  max-height: 56px;
  overflow: hidden;
  border-radius: 50%;
}
=======
.padding16 {
    padding: 16px;
}

.image-cropper {
    width: 56px;
    height: 56px;
    overflow: hidden;
    border-radius: 50%;
}

.toolbar-img {
    height: auto;
    width: auto;
} 
>>>>>>> Add image
