.fill-remaining-space {
  flex: 1 1 auto;
}

.toolbar--margin-left {
  margin-left: 16px;
}

.toolbar--margin-right {
  margin-right: 16px;
}

.toolbar__profile-photo--img {
  max-width: 32px;
  max-height: 32px;
  overflow: hidden;
  border-radius: 50%;
}
