.fill-remaining-space {
  flex: 1 1 auto;
}

.toolbar--padding {
  padding: 16px;
}

.toolbar__profile-img--cropper {
  max-width: 56px;
  max-height: 56px;
  overflow: hidden;
  border-radius: 50%;
}

.toolbar-img {
  height: auto;
  width: auto;
}
