<div class="form">
  <div [className]="(isHandset | async) ? 'form-mobile' : 'form-desktop'">
    <mat-card>
      <form [formGroup]="productForm" class="grid" (ngSubmit)="addProduct()">

        <mat-form-field class="form-field">
          <input matInput formControlName="nombre" placeholder="Nombre" type="text">
        </mat-form-field>

        <mat-form-field class="form-field">
          <input matInput formControlName="cantidad" type="number" placeholder="Cantidad">
        </mat-form-field>

        <mat-form-field class="form-select">
          <mat-select formControlName="unidades" placeholder="Unidades">
            <mat-option *ngFor="let unit of units" [value]="unit.value">
              {{unit.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="form-select">
          <mat-select formControlName="categoria" placeholder="Categorias">
            <mat-option *ngFor="let category of categories" [value]="category.value">
              {{category.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="form-field">
          <input matInput type="number" formControlName="costo" placeholder="Costo Unitario">
        </mat-form-field>


        <mat-form-field class="form-field">
          <textarea matInput formControlName="descripcion" placeholder="Descripcion"></textarea>
        </mat-form-field>

        <div class="product-form--wrapper form-field">
          <button mat-raised-button [disabled]="productForm.invalid" type="submit" color="primary" (click)="addProduct()">Aceptar</button>
        </div>

      </form>
    </mat-card>
  </div>
</div>