<div class="main">
    <div class="center">
        <img align="middle" height="20%" width="20%" src="../../assets/corn.png">
    </div>
    <mat-card>
        <div class="grid-container">
            <div class="grid-item">
                <h2>{{producto}}</h2>
            </div>
            <div class="grid-item">
                <h4>Nombre de Proovedor: {{nombreProveedor}}</h4>
            </div>
            <div class="grid-item">
                <h6>Fecha de plantacion: {{fechaPlantacion}}</h6>
            </div>
            <div class="grid-item">
                <h6>Fecha de Cosecha: {{fechaCosecha}}</h6>
            </div>
            <div class="grid-item">
                <h6>Cantidad disponible: {{cantidad}} {{unidad}}</h6>
            </div>
            <div class="grid-item">
                <h6>Precio por {{unidad}}: {{cantidad}} </h6>
            </div>
        </div>
        <form [formGroup]="prodDescriptionForm">
            <!--Value: {{ prodDescriptionForm.value | json }} -->
            <mat-slider thumbLabel [displayWith]="formatLabel" ng-value="value" formControlName="cantidadAComprar" tickInterval="1000"
                min="1" max="{{cantidad}}"></mat-slider>
        </form>
        <p style="text-align:center;">
            <span>
                <button mat-raised-button color="green">Comprar {{prodDescriptionForm.value.cantidadAComprar | json }} {{unidad}}</button>
            </span>
        </p>

    </mat-card>
</div>

<app-prod-buy></app-prod-buy>