.dashboard {
  max-width: 100%;
  display: grid;
  grid-template-rows: 10% 1fr;
}

app-offer {
  overflow: hidden;
}

.dashboard__offers {
  display: grid;
  padding: 16px;
}

h3 {
  padding: 16px;
  font-size: 24px;
  text-align: center;
}

.card-padding-top {
  padding-top: 16px;
}

.dashboard__three-column {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 16px;
}

.dashboard__single-column {
  display: grid;
  grid-template-columns: 1fr;
  padding: 16px;
}