<div class="dashboard">
  <app-offer></app-offer>
  <div [className]="(isHandset | async) ? 'dashboard__single-column' : 'dashboard__three-column'">
    <div>
      <h3 mat-subheader>Más Vendidos</h3>
      <app-card class="card" *ngFor="let product of best" [data]="product"></app-card>
    </div>

    <div>
      <h3>Recién Agregados</h3>
      <app-card class="card" *ngFor="let product of newest" [data]="product"></app-card>
    </div>

    <div>
      <h3>Vendedores Verificados</h3>
      <app-card class="card" *ngFor="let product of verified" [data]="product"></app-card>
    </div>
  </div>
</div>