<div class="dashboard">
  <app-offer></app-offer>
  <div class="dashboard__offers">
    <div>
      <h3 mat-subheader>Más Vendidos</h3>
      <app-card class="card" *ngFor="let profile of (feed$ | async)" [data]="profile"></app-card>
    </div>

    <div>
      <h3>Recién Agregados</h3>
      <app-card class="card" *ngFor="let profile of (feed$ | async)" [data]="profile"></app-card>
    </div>

    <div>
      <h3>Vendedores Verificados</h3>
      <app-card class="card" *ngFor="let profile of (feed$ | async)" [data]="profile"></app-card>
    </div>
  </div>
</div>