.dialog--desktop {
  display: grid;
  grid: 1fr / repeat(12, 1fr);
  grid-gap: 1em;
}

.dialog--mobile {
  display: grid;
  grid: 1fr / 1fr;
  grid-gap: 0.5em;
}

.dialog__title--mobile {
  place-self: center;
  grid: 2 / 1 / 3 / 2;

  text-align: center;
}

.dialog__title--desktop {
  place-self: center;
  grid: 1 / 2 / 2 / 4;
}

.dialog__img {
  grid-area: 1 / 1 / 2 / 2;
  place-self: center;

  width: 128px;
  height: 128px;
  overflow: hidden;
  border-radius: 50%;
}

.dialog__btn {
  grid-area: 1 / -1 / 2 / -2;
  justify-self: end;
  align-self: start;
}

.red{
  background-color:red;
}